<div class="card mb-2">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3 class="col">Acerca de </h3> 
        </div>
        <div class="col-1 w-auto">
          <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
      </div>
      <p class="fs-5">Apasionado por la tecnología con
        gran motivación para seguir
        aprendiendo habilidades y crecer
        profesionalmente. Confío
        plenamente en mi capacidad de
        resolver problemas cada vez mas
        complejos con mejores
        resultados. Mi objetivo laboral es
        crecer como profesional en
        desarrollo de software y si es
        posible aprender las nuevas
        tecnologías lideres en el mercado.</p>
    </div>
</div>