<div class="card mb-2">
    <img class="card-img-top" alt="image" [src]="miPortfolio.backImage"/>
    <div class="card-body">
    <div>
        <div class="col-2">
        <div class="portrait-container">
            <img class="img-fluid portrait" alt="portrait" src="../assets/static/portrait/Primer Plano.png">
            <a href="#" class="btn-portrait"><i class="fa fa-pen"></i></a>
        </div>
        </div>
    </div>

    <div class="row p-2">
        <h3>{{miPortfolio.name}}</h3>
        <p>{{miPortfolio.position}}</p>
        <div class="row">
        <div>{{miPortfolio.ubication}}</div>
        <a href="#" class="link-primary"> Informacion de contacto</a>
        </div>
        <div class="row-cols-6">
        <button type="button" class="btn btn-outline-primary w-auto m-1">Tengo interés en</button>
        <button type="button" class="btn btn-outline-primary w-auto m-1">Añadir sección</button>
        <button type="button" class="btn btn-outline-primary w-auto m-1">Más</button>
        </div>
    </div>
    </div>
</div>