<div class="modal fade bd-example-modal-lg" id="skillInfoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div  *ngIf="skill" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">{{skill.type}} Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Skill:</label>
                        <input type="text" [(ngModel)]="skill.name" class="form-control" formControlName="name" id="name">
                    </div>
                    <div *ngIf="isType()" class="form-group">
                        <label for="progress" class="col-form-label">Progreso:</label>
                        <input type="text" [(ngModel)]="skill.progress" class="form-control" formControlName="progress" id="progress">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button href="#" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>